<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-success">

  <div class="container">

    <a class="navbar-brand" routerLink="/products">ProductApp</a>

    <div class="collapse navbar-collapse">

      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/cart" routerLinkActive="active">Cart
            <span class="badge bg-warning text-dark ms-1">
              {{ cartService.getTotalCount()}}
            </span>
          </a>
        </li>
  
      </ul>

    </div>

  </div>

</nav> -->

<nav class="navbar navbar-expand-lg navbar-dark bg-success">
  <div class="container">
    <a class="navbar-brand" routerLink="/products">ProductApp</a>
    
    <button class="navbar-toggler" type="button" 
            data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link position-relative" routerLink="/cart" routerLinkActive="active">
            Cart
            <span *ngIf="cartCount > 0" class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-warning text-dark">
              {{ cartCount }}
              <span class="visually-hidden">items in cart</span>
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>